<div class="container quienes">
	<div class="row justify-content-center py-5 my-5">
		<h2 class="col-12">Eléctrica LOVI S.A. de C.V.</h2>
		<h4 class="col-12">Contáctanos</h4>
		<div class="col-12 card">
			<div class="row justify-content-center">
				<div class="col-12 py-4 " style="z-index: 2">
					<h5 class="text-lg-left text-center"><i class="fas fa-map-marker-alt inicial"></i> Dirección.</h5>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				</div>
				<div class="col-12 py-4 " style="z-index: 2">
					<h5 class="text-lg-left text-center"><i class="fas fa-phone inicial" style="transform:scaleX(-1);"></i> Telefonos.</h5>
					<p><b>(000)</b>phone</p>
				</div>
				<div class="col-12 py-4 " style="z-index: 2">
					<h5 class="text-lg-left text-center"><i class="far fa-envelope inicial"></i> Correo.</h5>

				</div>
			</div>
				<img src="/data/img/contactanos.jpg" class="img-fluid" style="position: absolute; right: 0; bottom: 0; height: 60%; z-index: 1; opacity: 0.6;">
		</div>
	</div>
</div>
