<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><% page.name %></title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/templates/SC/estilo.css?0.01" />
	<link rel="icon" type="image/icon" href="/data/img/favicon.ico" />
</head>
<body>
	<div class="container-fluid ">
		<div class="row" style="background: #fff;">
			<div class="container py-2">
				<div class="row">
					<div class="col-lg-4 col-12">
						<div class="row justify-content-lg-start justify-content-center">
							<a href="/">
								<img src="/templates/SC/img/<% page.logo %>" class="img-fluid" style="max-height: 70px;">
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-12 busqueda">
						<div class="row justify-content-center">
							<% Zera.get_component('SC','buscar') %>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="row justify-content-lg-end justify-content-center">
							<a href="/contactanos" style="display: contents;">
								<span class="numGrande"><i class="fas fa-phone" style="transform:scaleX(-1);"></i></span>
								<span class="texto pt-2 ml-3">
									<span style="font-size: 20px;color: #595959; font-weight: 300;">Llamanos</span>
									<br>
									<span style="color: #595959;"><% page.phone%></span>
								</span>
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="row menu ">
			<div class="container mx-lg-auto mx-0">
				<div class="row justify-content-center menuboton">
					<nav class="col-12 navbar navbar-expand-lg  text-center" style="padding: 0rem 0rem; ">
						<button class="navbar-toggler boton-hmb" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="fas fa-bars menusup"></span>
						</button>
						<div class="collapse navbar-collapse mibarra" id="navbarNav">
							<ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="overflow: inherit;">
								<li class="nav-item">
									<a class="nav-link link" href="/" >Inicio</a>
								</li>
								<li class="nav-item">
									<a class="nav-link link" href="#" id="navbarDropdowns" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catálogo<i class=" pl-2 fas fa-angle-down"></i></a>
									<div class="menubajo dropdown-menu" aria-labelledby="navbarDropdowns">
										<% Zera.get_component('SC','menu') %>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link link" href="#" >Ofertas</a>
								</li>
								<li class="nav-item">
									<a class="nav-link link" href="/quienes_somos">¿Quiénes somos?</a>
								</li>
								<li class="nav-item">
									<a class="nav-link link" href="/contactanos">Contáctanos</a>
								</li>
							</ul>
						</div>
					</nav>

				</div>
			</div>
		</div>
		<% content %>
		<div class="row">
			<div class="container">
				<div class="row pt-4  pb-3 bordes mt-3 justify-content-between">
					<div class="col-lg-2 col-12  text-left">
						<a href="/">
						<img src="/templates/SC/img/<% page.logo %>" class="img-fluid mb-lg-3 mb-1" style="max-height: 70px;">
						</a>
					</div>
					<div class="col-lg-8 col-12  text-left">
						<div class="row">
							<div class="col-lg-4 col-12">
								<div class=" titulos-foot mb-lg-3 mb-1 text-lg-center text-left">
									<span style="font-size: 20px;color: #595959; font-weight: 500;" >Direccion</span>
								</div>
								<span style="font-size: 15px;color: #595959; font-weight: 300;"><% page.street %><br><% page.colony %>, <% page.city %><br><% page.country %></span>
							</div>
							<div class="col-lg-4 col-12">
								<div class=" titulos-foot mb-lg-3 mb-1 text-lg-center text-left">
									<span style="font-size: 20px;color: #595959; font-weight: 500;" >Telefonos</span>
								</div>
								<span style="font-size: 15px;color: #595959; font-weight: 300;"><% page.phones %></span>
							</div>
							<div class="col-lg-4 col-12">
								<div class=" titulos-foot mb-lg-3 mb-1 text-lg-center text-left">
									<span style="font-size: 20px;color: #595959; font-weight: 500;" >Correo</span>
								</div>
								<span style="font-size: 15px;color: #595959; font-weight: 300;"><% page.email %></span>
							</div>
						</div>

					</div>
					<div class="col-lg-2 col-12  text-left">
						<div class=" titulos-foot mb-lg-3 mb-1 text-lg-center text-left">
							<span style="font-size: 20px;color: #595959; font-weight: 500;" >Nosotros</span>
						</div>
						<a class="nav-link linkfoot px-0 py-0" href="#" id="navbarDropdowns" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-size: 15px;color: #595959; font-weight: 300;">Catálogo</span><i class=" pl-2 fas fa-angle-down"></i></a>
						<div class=" dropdown-menu footmenu" aria-labelledby="navbarDropdowns">
							<% Zera.get_component('SC','footer') %>
						</div>
						<a href="/quienes_somos"><span style="font-size: 15px;color: #595959; font-weight: 300; text-decoration: none;">¿Quiénes Somos?</span></a>
						<br>
						<a href="/contactanos"><span style="font-size: 15px;color: #595959; font-weight: 300;">Contáctanos</span></a>
					</div>
				</div>
				<div class="row pt-4  pb-3 bordes mt-3">
					<div class="col-12 text-left">
						<span style="font-size: 25px; color: #595959; font-weight: 300;"> <% page.copyright %></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</body>
</html>
