<% msg %>
<% list %>

<div class="container py-5 my-5">
  <div class="row py-4">
    <div class="col-12">
      <div class="row py-4">
        <% Zera.get_component('SC', 'carousel') %>
      </div>
    </div>
  </div>
  <div class="row py-4 my-4">
    <div class="col-12 my-3 titulo-sub" >
      <h2>Conoce</h2>
    </div>
    <% Zera.get_component('SC', 'categorypromo') %>
  </div>
  <div class="row py-4">
    <div class="col-12 my-3 titulo-sub" >
      <h2>Nuevos Productos</h2>
    </div>
    <% Zera.get_component('SC', 'newproducts') %>
  </div>
  <div class="row py-4">
    <div class="col-12 my-3 titulo-sub" >
      <h2>Categorias</h2>
    </div>
    <% Zera.get_component('SC', 'category') %>
    </div>
  </div>
</div>
