<style>

.image-container {
	display: inline-block;
	padding: 1em;
	max-width: 100%;
	min-width: 100%;
	vertical-align: top;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.image-container:hover {
	background-color: transparent;
}

.image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	max-width: 100%;
	min-width: 100%;
	padding-bottom: 10em;


}
</style>
<link rel="stylesheet" href="/templates/SC2/carousel.css?0.01" />
<div class="container">
	<div class="row">
		<div class="col-12 maximo inactivo justify-content-center" id="maximo" onclick="maximizar()">
				<div class="imagen" id="imagen" style="background-image: none;"></div>
		</div>
		<% FOREACH product = products %>
		<div class="col-12 py-5 my-5">
			<div class="row">
				<div class="col-12 my-3 pb-4 titulo-sub" >
		      <h2><% product.name %></h2>
		    </div>

				<div class="col-lg-6 col-12">
					<div class="row">
						<div class="col-12">
							<div class="icono_zoom" onclick="maximizar()"> <i class="fas fa-search centrado-porcentual"></i> </div>
							<div class="image-container">
								<div class="image detail-view" id="img_zoom" style="background-image: url(/data/img/toys/<% product.image %>);"></div>
							</div>
						</div>
						<div class="col-12">
							<div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
								<div class="carousel-inner row w-75 mx-auto" role="listbox">
									<% FOREACH prin = principal %>
									<div class="carousel-item col-md-3  active" onclick="cambiaimagen('<% prin.image %>')">
										<div class="panel panel-default">
											<div class="panel-thumbnail" >
												<img class="img-fluid mx-auto d-block" src="/data/img/toys/<% prin.image %>" alt="slide 1">
											</div>
										</div>
									</div>
									<% END %>
									<% FOREACH imagen = imagenes %>
									<div class="carousel-item col-md-3" onclick="cambiaimagen('<% imagen.image %>')">
										<div class="panel panel-default">
											<div class="panel-thumbnail" >
												<img class="img-fluid mx-auto d-block" src="/data/img/toys/<% imagen.image %>" alt="slide 1">
											</div>
										</div>
									</div>
									<% END %>
								</div>
								<a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon fas fa-angle-left" style="color:rgb(2,68,89);" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
									<span class="carousel-control-next-icon fas fa-angle-right" style="color:rgb(2,68,89);" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-12 p-0">
					<div class="card p-3 mb-2">
						<label>Categoría: <a href="/SC/Category/<% product.url %>" ><% product.category %></a></label>
						<br/>
						<label>Precio:<% product.sale_unit %></label>
						<br/>
						<label>Detalle:</label>
						<% product.details %>
					</div>
				</div>
				<div class="col-12 pb-5 py-4 px-4 my-4 card">
					<label >Descripción:</label>
					<% product.description%>
				</div>
				<% IF relacionados.size > 0 %>
				<div class="col-12 py-4 card">
					<label>Productos relacionados (<% relacionados.size %>)</label>
					<div class="row justify-content-start">
						<% FOREACH relacionado = relacionados %>
							<a class="col-lg-2 col-3 p-1" href="/SC/Product/<% relacionado.code %>">
								<div class="card p-2">
									<img src="/data/img/<% relacionado.image %>" class="img-fluid">
									<label><% relacionado.name %></label>
								</div>
							</a>
						<% END %>
					</div>
				</div>
				<% END %>
			</div>
		</div>
		<% END %>
	</div>
</div>
<script type="text/javascript">
	function cambiaimagen(valor) {
		document.getElementById('img_zoom').style.backgroundImage='url("/data/img/toys/'+valor+'")'
	}

	function maximizar() {
		var max = document.getElementById('maximo')
		if(max.className == "col-12 maximo inactivo"){
			max.className = "col-12 maximo activo"
			document.getElementById('imagen').style.backgroundImage=document.getElementById('img_zoom').style.backgroundImage
		}else{
			max.className = "col-12 maximo inactivo"
		}
	}
</script>
<script>


	(function() {
		var zoomBoxes = document.querySelectorAll('.detail-view');
		zoomBoxes.forEach(function(image) {
			var imageCss = window.getComputedStyle(image, false),
			imageUrl = imageCss.backgroundImage.slice(4, -1).replace(/['"]/g, '');
			var imageSrc = new Image();
			imageSrc.onload = function() {
				var imageWidth = imageSrc.naturalWidth,
				imageHeight = imageSrc.naturalHeight,
				ratio = imageHeight / imageWidth;

				var percentage = ratio * 100 + '%';
				image.style.paddingBottom = percentage;


			}
			imageSrc.src = imageUrl;
		});
	})();
</script>
