<h3><% page.title %></h3>
<% msg %>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-list-tab" data-toggle="tab" href="#nav-list" role="tab" aria-controls="nav-list" aria-selected="true">Values</a>
    <a class="nav-item nav-link"        id="nav-edit-tab" data-toggle="tab" href="#nav-edit" role="tab" aria-controls="nav-edit" aria-selected="false">Edit option</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
      <% option_form %><% options_list %>
  </div>
  <div class="tab-pane fade"             id="nav-edit" role="tabpanel" aria-labelledby="nav-edit-tab">
      sd
  </div>
</div>
