        <div class="row  justify-content-center">
            <div class="col-12 col-sm-8 col-md-12">
                    <div style="padding-top:30px" class="card-body">
                        <% msg %>
                        <% vars.form_start %>
                        <% FOREACH field IN vars.fields %><% IF field.type == 'hidden' %><% field.field %><% END %><% END %>
                        <div class="form-row">
                            <div class="col-1">Value</div>
                            <% FOREACH field IN vars.fields %><% IF field.type != 'hidden' %>
                            <div class="col<% IF field.span %>-<% field.span %><% END %>">
                                <% field.field %>
                            </div>
                            <% END %><% END %>
                            <div class="col-3">
                                <% FOREACH submit IN vars.submits %><% submit.submit %><% END %>
                            </div>
                       </div>
                        <% vars.form_end  %>
                    </div>
            </div>
        </div>
